

.imgCarrito{
	position: relative;
	max-width: 40px;
	max-height: 40px;
	float: right;
	margin-bottom: 0px;
	padding-bottom: 0px;
	
}
.precioCarrito{
	display: inline-block;
}
.precio{
	text-align: center;
}

.vino{
	text-align: center;
	font-size: medium;
}

/* STYLO SINGLE WINE  70 70 270 270*/ 
.btnComprar {
	height: 15%;
	box-shadow: 3px 6px 4px 0px  #899599;
	background:linear-gradient(to bottom, #ededed 5%, #bab1ba 100%);
	background-color:#ededed;
	border-radius:15px;
	border:1px solid #d6bcd6;
	/* display:flex; */
	justify-content: flex-end;
	cursor:pointer;
	color:#3a8a9e;
	font-family:Arial;
	font-size:17px;
	font-weight:bold;
	padding: 1%;
	margin-top: 10px;
	text-decoration:none;
	text-shadow:0px 1px 0px #e1e2ed;
	float: right;
}
.btnComprar:hover {
	background:linear-gradient(to bottom, #bab1ba 5%, #ededed 100%);
	background-color:#bab1ba;
}

.btnUserNav:hover {
	background-color:#ebe0d200;
}

.btnComprar:active {
	position:relative;
	top:1px;
}

#ContenedorSingle{
	margin-top: 1.5%;
	margin-bottom: 1.5%;
	margin-left: 22%;
	margin-right: 22%;
	background-color: white;
	width: fit-content;
	padding: 7px;
	border-radius: 30px;
	height: 100%;	
}
#ContenedorSingleWineText{
	padding: 3%

}
	

.imagenSingle{
	max-width: 650px;
	max-height: 650px;
	border-radius: 30px;
	padding: 0.9%;
	margin-top:1% ;
}
.singleWineText{
	padding: 10px;
	border-bottom: solid 1px gray;
}

.reviewUsuario{
	margin-top: 1.5%;
	margin-bottom: 1.5%;
	padding: 3%;
	border-radius: 30px;
}





/*BOTON PUBLICAR REVIEW*/
.publicarReview{
	box-shadow: 3px 6px 4px 0px #899599;
	background:linear-gradient(to bottom, #ededed 5%, #bab1ba 100%);
	background-color:#ededed;
	border-radius:15px;
	border:1px solid #d6bcd6;
	/* display:inline-block; */
	cursor:pointer;
	color:#3a8a9e;
	font-family:Arial;
	font-size:17px;
	font-weight:bold;
	padding:8px 28px;
	text-decoration:none;
	text-shadow:0px 1px 0px #e1e2ed;
	margin-top: 2%;
	float: right;
}
.publicarReview:hover {
	background:linear-gradient(to bottom, #bab1ba 5%, #ededed 100%);
	background-color:#bab1ba;
}
.publicarReview:active {
	position:relative;
	top:1px;
}


/* STYLE NAVBAR */
#btnCartNav{
	width: 80px;
	padding: 1px;
	color: black;
	margin-right: 15px;
	background-color: #ebe0d200;
	border:none;
}

.btnCategNav{
	background-color: #ededed;
	background-color:#bab1ba;
	border: none;
}

.btnUserNav{
	width: 120px;
	padding: 1px;
	color: black;
	margin-right: 15px;
	background-color: #ebe0d200;
	border:none;
}

#btnText{
	line-height: 45px;
	color: gray;
	font-size: 1rem;
}
/* COMPONENTE NOT FOUND */
.not-Found{
	margin-top: 50px;
	border-radius: 30px;

}
/* AUXILIAR */
#footerFantasma{
	margin-top: 445px
}

.profile{
	font-style: inherit;
}
/* COMPONENTE REGISTER */
.usuario{
	margin-top: 50px;
	border-radius: 30px;
	width: 70%;
	padding: 1%;
}

/* COMPONENTE LOGGIN */
.loggin{
	margin-top: 50px;
	border-radius: 30px;
	width: 50%;
	padding: 1%;
}

/* COMPONENTE REVIEWS */
.reviews{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr ;
	margin: 1.2% 3%;
	border-radius: 30px;
}
.singleReview{
	padding: 1%;
}

