.btnComprar {
	box-shadow: 13px 12px 10px  #899599;
	background:linear-gradient(to bottom, #ededed 5%, #bab1ba 100%);
	background-color:#ededed;
	border-radius:15px;
	border:1px solid #d6bcd6;
	display:flex;
	justify-content: flex-end;
	cursor:pointer;
	color:#3a8a9e;
	font-family:Arial;
	font-size:17px;
	font-weight:bold;
	padding: 14px;
	margin-top: 10px;
	text-decoration:none;
	text-shadow:0px 1px 0px #e1e2ed;
}
.btnComprar:hover {
	background:linear-gradient(to bottom, #bab1ba 5%, #ededed 100%);
	background-color:#bab1ba;
}

.btnUserNav:hover {
	background-color:#ebe0d200;
}

.btnComprar:active {
	position:relative;
	top:1px;
}

.imgCarrito{
	position: relative;
	max-width: 40px;
	max-height: 40px;
	float: right;
	margin-bottom: 0px;
	padding-bottom: 0px;
	
}
.precioCarrito{
	display: inline-block;
}
.precio{
	text-align: center;
}

.vino{
	text-align: center;
	font-size: medium;
}

.imagenSingle{
	max-width: 600px;
	max-height: 1200px;
}

.single{
	padding: 10px;
	border-bottom: solid 1px gray;
}


#btnCartNav{
	width: 80px;
	padding: 1px;
	color: black;
	margin-right: 15px;
	background-color: #ebe0d200;
	border:none;
}

.btnCategNav{
	background-color: #ededed;
	background-color:#bab1ba;
	border: none;
}

.btnUserNav{
	width: 120px;
	padding: 1px;
	color: black;
	margin-right: 15px;
	background-color: #ebe0d200;
	border:none;
}

#btnText{
	line-height: 45px;
	color: gray;
	font-size: 1rem;
}

.not-Found{
	margin-top: 50px;
}

#footerFantasma{
	margin-top: 445px
}