body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color: #d9d2c8
}

#columns {
    column-width: 320px;
    column-gap: 15px;
    width: 90%;
    max-width: 1100px;
    margin: 50px auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    justify-items: center;
}
.navegador{

    background-color: #F2F2F2;

}
.textoCentrado{

    text-align: center;
    margin-top: 30px;



}
.botones{

    margin-right: 20px;

}
div#columns figure {
    background: #fefefe;
    border: 2px solid #fcfcfc;
    box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
    margin: 0 2px 15px;
    padding: 15px;
    padding-bottom: 10px;
    transition: opacity .4s ease-in-out;
    display: inline-block;
    column-break-inside: avoid;
    transition-duration: 0.3s;
    max-width: 200px;
  
}

div#columns figure:hover{

    transform: scale(1.10);
    


}

div#columns figure img {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #ccc;
    padding-bottom: 15px;
    margin-bottom: 5px;
}

div#columns figure figcaption {
    font-size: .9rem;
    color: #444;
    line-height: 1.5;
}

div#columns small {
    font-size: 1rem;
    float: right;
    text-transform: uppercase;
    color: #aaa;
}

div#columns small a {
    color: #666;
    text-decoration: none;
    transition: .4s color;
}

div#columns:hover figure:not(:hover) {
    opacity: 0.4;
}

@media screen and (max-width: 750px) {
    #columns {
        column-gap: 0px;
    }

    #columns figure {
        width: 100%;
    }
}

nav {
    background-color: grey;
    height: 100px;
    width: 100vw;
    display: fixed;
    top: 0;
}

//El css de la imagen del carrito
.cartImagen{
    
    justify-content: flex-end;
    max-width: 200px;


}

.btn-facebook{
    background-color: white;
    display: inline-block;
    border-radius: .25rem;
    line-height: 30px;
    margin-bottom: 20px;
    color: black;
    padding: .375rem .75rem;
}

.btn-google{
    background-color: white;
    display: inline-block;
    border-radius: .25rem;
    line-height: 30px;
    margin-bottom: 20px;
    color: black;
    padding: .375rem .75rem;
}

.icono{
    max-width: 30px;
    line-height: 30px;
    max-height: 30px;
}

.pagination{
    display: flex;
    justify-content: center;
}

//Apartir de esta linea empiezan los estilos de los Admin
.ViewUsers{
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr;
margin:2px;
padding:1px;
max-height: 33.3%;


}

.ViewUser{

    border: 2px solid white;
    padding: 2px;


}